menu "Project configuration"

    config BLINK_GPIO
        int "Blink GPIO number"
        range 0 48
        default 48
        help
            GPIO number (IOxx) to blink on and off or the RMT signal for the addressable LED.
            Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.

endmenu
